USE [master]
GO
/****** Object:  Database [FUNDAPP]    Script Date: 5/3/2026 13:00:56 ******/
CREATE DATABASE [FUNDAPP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FUNDAPP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FUNDAPP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FUNDAPP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FUNDAPP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FUNDAPP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FUNDAPP]
GO
/****** Object:  User [usr_voluntariado]    Script Date: 5/3/2026 13:00:56 ******/
CREATE USER [usr_voluntariado] FOR LOGIN [login_voluntariado] WITH DEFAULT_SCHEMA=[Voluntariado]
GO
/****** Object:  User [usr_donaciones]    Script Date: 5/3/2026 13:00:56 ******/
CREATE USER [usr_donaciones] FOR LOGIN [login_donaciones] WITH DEFAULT_SCHEMA=[Donaciones]
GO
/****** Object:  User [usr_certificados]    Script Date: 5/3/2026 13:00:56 ******/
CREATE USER [usr_certificados] FOR LOGIN [login_certificados] WITH DEFAULT_SCHEMA=[Certificados]
GO
/****** Object:  User [usr_auditoria]    Script Date: 5/3/2026 13:00:56 ******/
CREATE USER [usr_auditoria] FOR LOGIN [login_auditoria] WITH DEFAULT_SCHEMA=[Seguridad]
GO
/****** Object:  User [usr_admin]    Script Date: 5/3/2026 13:00:56 ******/
CREATE USER [usr_admin] FOR LOGIN [login_admin] WITH DEFAULT_SCHEMA=[Seguridad]
GO
/****** Object:  DatabaseRole [Rol_GestionVoluntariado]    Script Date: 5/3/2026 13:00:56 ******/
CREATE ROLE [Rol_GestionVoluntariado]
GO
/****** Object:  DatabaseRole [Rol_GestionPersonas]    Script Date: 5/3/2026 13:00:56 ******/
CREATE ROLE [Rol_GestionPersonas]
GO
/****** Object:  DatabaseRole [Rol_GestionDonaciones]    Script Date: 5/3/2026 13:00:56 ******/
CREATE ROLE [Rol_GestionDonaciones]
GO
/****** Object:  DatabaseRole [Rol_GestionCertificados]    Script Date: 5/3/2026 13:00:56 ******/
CREATE ROLE [Rol_GestionCertificados]
GO
/****** Object:  DatabaseRole [Rol_Auditor]    Script Date: 5/3/2026 13:00:56 ******/
CREATE ROLE [Rol_Auditor]
GO
/****** Object:  DatabaseRole [Rol_AdminGeneral]    Script Date: 5/3/2026 13:00:56 ******/
CREATE ROLE [Rol_AdminGeneral]
GO
ALTER ROLE [Rol_GestionVoluntariado] ADD MEMBER [usr_voluntariado]
GO
ALTER ROLE [Rol_GestionDonaciones] ADD MEMBER [usr_donaciones]
GO
ALTER ROLE [Rol_GestionCertificados] ADD MEMBER [usr_certificados]
GO
ALTER ROLE [Rol_Auditor] ADD MEMBER [usr_auditoria]
GO
ALTER ROLE [Rol_AdminGeneral] ADD MEMBER [usr_admin]
GO
/****** Object:  Schema [Certificados]    Script Date: 5/3/2026 13:00:57 ******/
CREATE SCHEMA [Certificados]
GO
/****** Object:  Schema [Donaciones]    Script Date: 5/3/2026 13:00:57 ******/
CREATE SCHEMA [Donaciones]
GO
/****** Object:  Schema [Personas]    Script Date: 5/3/2026 13:00:57 ******/
CREATE SCHEMA [Personas]
GO
/****** Object:  Schema [Seguridad]    Script Date: 5/3/2026 13:00:57 ******/
CREATE SCHEMA [Seguridad]
GO
/****** Object:  Schema [Voluntariado]    Script Date: 5/3/2026 13:00:57 ******/
CREATE SCHEMA [Voluntariado]
GO
/****** Object:  UserDefinedFunction [Certificados].[FN_TotalCertificados]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 4 */
CREATE FUNCTION [Certificados].[FN_TotalCertificados](@VoluntarioID INT)
RETURNS INT
AS
BEGIN
    DECLARE @Total INT;
    SELECT @Total = COUNT(*)
    FROM Certificados.Certificado
    WHERE VoluntarioID = @VoluntarioID;
    RETURN @Total;
END;
GO
/****** Object:  UserDefinedFunction [Donaciones].[FN_PromedioDonaciones]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [Donaciones].[FN_PromedioDonaciones]()
RETURNS DECIMAL(12,2)
AS
BEGIN
    DECLARE @Prom DECIMAL(12,2);
    SELECT @Prom = AVG(Monto) FROM Donaciones.Donacion;
    RETURN @Prom;
END;
GO
/****** Object:  UserDefinedFunction [Donaciones].[FN_TotalDonado]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [Donaciones].[FN_TotalDonado](@PersonaID INT)
RETURNS DECIMAL(12,2)
AS
BEGIN
    DECLARE @Total DECIMAL(12,2);
    SELECT @Total = ISNULL(SUM(Monto),0)
    FROM Donaciones.Donacion
    WHERE PersonaID = @PersonaID;
    RETURN @Total;
END;
GO
/****** Object:  UserDefinedFunction [Seguridad].[fn_HashPassword]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [Seguridad].[fn_HashPassword]
(
    @Password NVARCHAR(400)
)
RETURNS NVARCHAR(64)
AS
BEGIN

    DECLARE @Hash VARBINARY(32)

    SET @Hash = HASHBYTES('SHA2_256', @Password)

    RETURN LOWER(CONVERT(NVARCHAR(64), @Hash, 2))

END
GO
/****** Object:  UserDefinedFunction [Seguridad].[FN_UsuariosActivos]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 5 */
CREATE FUNCTION [Seguridad].[FN_UsuariosActivos]()
RETURNS INT
AS
BEGIN
    DECLARE @Total INT;
    SELECT @Total = COUNT(*)
    FROM Seguridad.Usuario
    WHERE Estado = 1;
    RETURN @Total;
END;
GO
/****** Object:  UserDefinedFunction [Voluntariado].[FN_TotalInscritos]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 3 */
CREATE FUNCTION [Voluntariado].[FN_TotalInscritos](@ActividadID INT)
RETURNS INT
AS
BEGIN
    DECLARE @Total INT;
    SELECT @Total = COUNT(*)
    FROM Voluntariado.Inscripcion
    WHERE ActividadID = @ActividadID;
    RETURN @Total;
END;
GO
/****** Object:  Table [Personas].[Persona]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Personas].[Persona](
	[PersonaID] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](10) NOT NULL,
	[NumeroDocumento] [varchar](20) NOT NULL,
	[PrimerNombre] [varchar](50) NOT NULL,
	[SegundoNombre] [varchar](50) NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Direccion] [varchar](200) NULL,
	[Ciudad] [varchar](100) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Personas].[Voluntario]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Personas].[Voluntario](
	[VoluntarioID] [int] IDENTITY(1,1) NOT NULL,
	[PersonaID] [int] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[VoluntarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Voluntariado].[VW_VoluntariosActivos]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 1. Voluntarios activos */
CREATE VIEW [Voluntariado].[VW_VoluntariosActivos] AS
SELECT v.VoluntarioID, p.PrimerNombre, p.PrimerApellido, p.Email, v.FechaIngreso
FROM Personas.Voluntario v
JOIN Personas.Persona p ON v.PersonaID = p.PersonaID
WHERE v.Estado = 'Activo';
GO
/****** Object:  Table [Voluntariado].[Actividad]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Voluntariado].[Actividad](
	[ActividadID] [int] IDENTITY(1,1) NOT NULL,
	[NombreActividad] [varchar](100) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[CupoMaximo] [int] NOT NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ActividadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Voluntariado].[Inscripcion]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Voluntariado].[Inscripcion](
	[InscripcionID] [int] IDENTITY(1,1) NOT NULL,
	[VoluntarioID] [int] NOT NULL,
	[ActividadID] [int] NOT NULL,
	[FechaInscripcion] [date] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[InscripcionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Voluntariado].[VW_ActividadesConInscritos]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 2. Actividades con total inscritos */
CREATE VIEW [Voluntariado].[VW_ActividadesConInscritos] AS
SELECT a.ActividadID, a.NombreActividad, a.CupoMaximo,
       COUNT(i.InscripcionID) AS TotalInscritos
FROM Voluntariado.Actividad a
LEFT JOIN Voluntariado.Inscripcion i 
ON a.ActividadID = i.ActividadID
GROUP BY a.ActividadID, a.NombreActividad, a.CupoMaximo;
GO
/****** Object:  Table [Donaciones].[Donacion]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Donaciones].[Donacion](
	[DonacionID] [int] IDENTITY(1,1) NOT NULL,
	[PersonaID] [int] NOT NULL,
	[Monto] [decimal](12, 2) NOT NULL,
	[MetodoPago] [varchar](50) NOT NULL,
	[FechaDonacion] [datetime] NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DonacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Donaciones].[VW_DonacionesConfirmadas]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 3. Donaciones confirmadas */
CREATE VIEW [Donaciones].[VW_DonacionesConfirmadas] AS
SELECT d.DonacionID, p.PrimerNombre, p.PrimerApellido,
       d.Monto, d.MetodoPago, d.FechaDonacion
FROM Donaciones.Donacion d
JOIN Personas.Persona p ON d.PersonaID = p.PersonaID
WHERE d.Estado = 'Confirmada';
GO
/****** Object:  Table [Certificados].[Certificado]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Certificados].[Certificado](
	[CertificadoID] [int] IDENTITY(1,1) NOT NULL,
	[VoluntarioID] [int] NOT NULL,
	[ActividadID] [int] NOT NULL,
	[CodigoCertificado] [varchar](50) NULL,
	[FechaEmision] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CertificadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Certificados].[VW_CertificadosEmitidos]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 4. Certificados emitidos */
CREATE VIEW [Certificados].[VW_CertificadosEmitidos] AS
SELECT c.CertificadoID, c.CodigoCertificado,
       p.PrimerNombre, p.PrimerApellido,
       a.NombreActividad, c.FechaEmision
FROM Certificados.Certificado c
JOIN Personas.Voluntario v ON c.VoluntarioID = v.VoluntarioID
JOIN Personas.Persona p ON v.PersonaID = p.PersonaID
JOIN Voluntariado.Actividad a ON c.ActividadID = a.ActividadID;
GO
/****** Object:  Table [Seguridad].[Rol]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Rol](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[Usuario]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[PersonaID] [int] NOT NULL,
	[NombreUsuario] [varchar](50) NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[RolID] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[UltimoAcceso] [datetime] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Seguridad].[VW_UsuariosConRol]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 5. Usuarios con rol */
CREATE VIEW [Seguridad].[VW_UsuariosConRol] AS
SELECT u.UsuarioID, u.NombreUsuario,
       r.NombreRol, u.Estado
FROM Seguridad.Usuario u
JOIN Seguridad.Rol r ON u.RolID = r.RolID;
GO
/****** Object:  Table [Seguridad].[Auditoria]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Auditoria](
	[AuditoriaID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[Accion] [varchar](100) NULL,
	[Tabla] [varchar](100) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Certificados].[Certificado] ON 

INSERT [Certificados].[Certificado] ([CertificadoID], [VoluntarioID], [ActividadID], [CodigoCertificado], [FechaEmision]) VALUES (141, 1, 2, N'CERT-100031-1', CAST(N'2026-02-26T12:13:29.450' AS DateTime))
INSERT [Certificados].[Certificado] ([CertificadoID], [VoluntarioID], [ActividadID], [CodigoCertificado], [FechaEmision]) VALUES (142, 2, 3, N'CERT-100032-2', CAST(N'2026-02-26T12:13:29.450' AS DateTime))
INSERT [Certificados].[Certificado] ([CertificadoID], [VoluntarioID], [ActividadID], [CodigoCertificado], [FechaEmision]) VALUES (143, 3, 4, N'CERT-100033-3', CAST(N'2026-02-26T12:13:29.450' AS DateTime))
SET IDENTITY_INSERT [Certificados].[Certificado] OFF
GO
SET IDENTITY_INSERT [Donaciones].[Donacion] ON 

INSERT [Donaciones].[Donacion] ([DonacionID], [PersonaID], [Monto], [MetodoPago], [FechaDonacion], [Estado]) VALUES (247, 112, CAST(246.00 AS Decimal(12, 2)), N'Efectivo', CAST(N'2026-02-26T10:21:51.843' AS DateTime), N'Confirmada')
INSERT [Donaciones].[Donacion] ([DonacionID], [PersonaID], [Monto], [MetodoPago], [FechaDonacion], [Estado]) VALUES (248, 113, CAST(493.00 AS Decimal(12, 2)), N'Efectivo', CAST(N'2026-02-26T10:20:51.843' AS DateTime), N'Confirmada')
INSERT [Donaciones].[Donacion] ([DonacionID], [PersonaID], [Monto], [MetodoPago], [FechaDonacion], [Estado]) VALUES (249, 114, CAST(159.00 AS Decimal(12, 2)), N'Efectivo', CAST(N'2026-02-26T10:19:51.843' AS DateTime), N'Confirmada')
SET IDENTITY_INSERT [Donaciones].[Donacion] OFF
GO
SET IDENTITY_INSERT [Personas].[Persona] ON 

INSERT [Personas].[Persona] ([PersonaID], [TipoDocumento], [NumeroDocumento], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [Telefono], [Email], [Direccion], [Ciudad], [Estado], [FechaRegistro]) VALUES (112, N'CC', N'100001', N'Juan', N'Felipe', N'Gonzalez', N'Cordoba', CAST(N'1998-03-12' AS Date), N'3001110001', N'juan.gonzalez1@fundapp.org', NULL, NULL, 1, CAST(N'2026-02-26T11:57:27.693' AS DateTime))
INSERT [Personas].[Persona] ([PersonaID], [TipoDocumento], [NumeroDocumento], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [Telefono], [Email], [Direccion], [Ciudad], [Estado], [FechaRegistro]) VALUES (113, N'CC', N'100002', N'Maria', N'Camila', N'Rodriguez', N'Lopez', CAST(N'1997-07-22' AS Date), N'3001110002', N'maria.rodriguez2@fundapp.org', NULL, NULL, 1, CAST(N'2026-02-26T11:57:27.693' AS DateTime))
INSERT [Personas].[Persona] ([PersonaID], [TipoDocumento], [NumeroDocumento], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [Telefono], [Email], [Direccion], [Ciudad], [Estado], [FechaRegistro]) VALUES (114, N'CC', N'100003', N'Carlos', N'Andres', N'Martinez', N'Perez', CAST(N'1995-01-30' AS Date), N'3001110003', N'carlos.martinez3@fundapp.org', NULL, NULL, 1, CAST(N'2026-02-26T11:57:27.693' AS DateTime))
SET IDENTITY_INSERT [Personas].[Persona] OFF
GO
SET IDENTITY_INSERT [Personas].[Voluntario] ON 

INSERT [Personas].[Voluntario] ([VoluntarioID], [PersonaID], [FechaIngreso], [Estado]) VALUES (1, 122, CAST(N'2026-01-27' AS Date), N'Activo')
INSERT [Personas].[Voluntario] ([VoluntarioID], [PersonaID], [FechaIngreso], [Estado]) VALUES (2, 123, CAST(N'2026-01-28' AS Date), N'Activo')
INSERT [Personas].[Voluntario] ([VoluntarioID], [PersonaID], [FechaIngreso], [Estado]) VALUES (3, 124, CAST(N'2026-01-29' AS Date), N'Activo')
SET IDENTITY_INSERT [Personas].[Voluntario] OFF
GO
SET IDENTITY_INSERT [Seguridad].[Auditoria] ON 

INSERT [Seguridad].[Auditoria] ([AuditoriaID], [UsuarioID], [Accion], [Tabla], [Fecha]) VALUES (1, NULL, N'INSERT', N'Donacion', CAST(N'2026-02-26T13:17:56.730' AS DateTime))
SET IDENTITY_INSERT [Seguridad].[Auditoria] OFF
GO
SET IDENTITY_INSERT [Seguridad].[Rol] ON 

INSERT [Seguridad].[Rol] ([RolID], [NombreRol], [Estado]) VALUES (217, N'Administrador General', 1)
INSERT [Seguridad].[Rol] ([RolID], [NombreRol], [Estado]) VALUES (218, N'Director Ejecutivo', 1)
INSERT [Seguridad].[Rol] ([RolID], [NombreRol], [Estado]) VALUES (219, N'Subdirector Operativo', 1)
GO
SET IDENTITY_INSERT [Seguridad].[Rol] OFF
GO
SET IDENTITY_INSERT [Seguridad].[Usuario] ON 

INSERT [Seguridad].[Usuario] ([UsuarioID], [PersonaID], [NombreUsuario], [Contrasena], [RolID], [FechaCreacion], [UltimoAcceso], [Estado]) VALUES (162, 112, N'j.gonzalez.001', N'ef797c8118f02dfb649607dd5d3f8c7623048c9c063d532cc95c5ed7a898a64f', 217, CAST(N'2026-02-26T12:21:13.743' AS DateTime), NULL, 1)
INSERT [Seguridad].[Usuario] ([UsuarioID], [PersonaID], [NombreUsuario], [Contrasena], [RolID], [FechaCreacion], [UltimoAcceso], [Estado]) VALUES (163, 113, N'm.rodriguez.002', N'ef797c8118f02dfb649607dd5d3f8c7623048c9c063d532cc95c5ed7a898a64f', 218, CAST(N'2026-02-26T12:21:13.743' AS DateTime), NULL, 1)
INSERT [Seguridad].[Usuario] ([UsuarioID], [PersonaID], [NombreUsuario], [Contrasena], [RolID], [FechaCreacion], [UltimoAcceso], [Estado]) VALUES (164, 114, N'c.martinez.003', N'ef797c8118f02dfb649607dd5d3f8c7623048c9c063d532cc95c5ed7a898a64f', 219, CAST(N'2026-02-26T12:21:13.743' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [Seguridad].[Usuario] OFF
GO
SET IDENTITY_INSERT [Voluntariado].[Actividad] ON 

INSERT [Voluntariado].[Actividad] ([ActividadID], [NombreActividad], [Descripcion], [FechaInicio], [FechaFin], [CupoMaximo], [Estado]) VALUES (1, N'Taller de Lectura Infantil', N'Refuerzo escolar para niños de primaria', CAST(N'2026-01-10' AS Date), CAST(N'2026-01-15' AS Date), 20, N'Finalizada')
INSERT [Voluntariado].[Actividad] ([ActividadID], [NombreActividad], [Descripcion], [FechaInicio], [FechaFin], [CupoMaximo], [Estado]) VALUES (2, N'Clases de Inglés Básico', N'Nivel inicial para jóvenes de la comunidad', CAST(N'2026-01-20' AS Date), CAST(N'2026-02-20' AS Date), 15, N'Finalizada')
INSERT [Voluntariado].[Actividad] ([ActividadID], [NombreActividad], [Descripcion], [FechaInicio], [FechaFin], [CupoMaximo], [Estado]) VALUES (3, N'Curso de Alfabetización Digital', N'Enseñanza de herramientas básicas de PC', CAST(N'2026-02-01' AS Date), CAST(N'2026-03-01' AS Date), 10, N'En curso')
GO
SET IDENTITY_INSERT [Voluntariado].[Actividad] OFF
GO
SET IDENTITY_INSERT [Voluntariado].[Inscripcion] ON 

INSERT [Voluntariado].[Inscripcion] ([InscripcionID], [VoluntarioID], [ActividadID], [FechaInscripcion], [Estado]) VALUES (71, 1, 2, CAST(N'2026-02-26' AS Date), 1)
INSERT [Voluntariado].[Inscripcion] ([InscripcionID], [VoluntarioID], [ActividadID], [FechaInscripcion], [Estado]) VALUES (72, 2, 3, CAST(N'2026-02-26' AS Date), 1)
INSERT [Voluntariado].[Inscripcion] ([InscripcionID], [VoluntarioID], [ActividadID], [FechaInscripcion], [Estado]) VALUES (73, 3, 4, CAST(N'2026-02-26' AS Date), 1)
SET IDENTITY_INSERT [Voluntariado].[Inscripcion] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Certific__AAE1A2C31F21983E]    Script Date: 5/3/2026 13:00:57 ******/
ALTER TABLE [Certificados].[Certificado] ADD UNIQUE NONCLUSTERED 
(
	[CodigoCertificado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Certificado_ActividadID]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Certificado_ActividadID] ON [Certificados].[Certificado]
(
	[ActividadID] ASC
)
INCLUDE([VoluntarioID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Certificado_Codigo]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Certificado_Codigo] ON [Certificados].[Certificado]
(
	[CodigoCertificado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Certificado_Fecha]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Certificado_Fecha] ON [Certificados].[Certificado]
(
	[FechaEmision] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Certificado_VoluntarioID]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Certificado_VoluntarioID] ON [Certificados].[Certificado]
(
	[VoluntarioID] ASC
)
INCLUDE([ActividadID],[FechaEmision]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Donacion_Estado]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Donacion_Estado] ON [Donaciones].[Donacion]
(
	[Estado] ASC
)
INCLUDE([DonacionID],[Monto]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Donacion_Fecha]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Donacion_Fecha] ON [Donaciones].[Donacion]
(
	[FechaDonacion] DESC
)
INCLUDE([PersonaID],[Monto]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Donacion_MetodoPago]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Donacion_MetodoPago] ON [Donaciones].[Donacion]
(
	[MetodoPago] ASC
)
WHERE ([MetodoPago] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Donacion_Monto]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Donacion_Monto] ON [Donaciones].[Donacion]
(
	[Monto] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Donacion_PersonaID]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Donacion_PersonaID] ON [Donaciones].[Donacion]
(
	[PersonaID] ASC
)
INCLUDE([Monto],[FechaDonacion],[Estado]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Persona__A4202588D03C32C8]    Script Date: 5/3/2026 13:00:57 ******/
ALTER TABLE [Personas].[Persona] ADD UNIQUE NONCLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Persona_Email]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Persona_Email] ON [Personas].[Persona]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Persona_Estado]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Persona_Estado] ON [Personas].[Persona]
(
	[Estado] ASC
)
INCLUDE([PersonaID],[PrimerNombre],[PrimerApellido]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Persona_FechaRegistro]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Persona_FechaRegistro] ON [Personas].[Persona]
(
	[FechaRegistro] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Persona_NombreCompleto]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Persona_NombreCompleto] ON [Personas].[Persona]
(
	[PrimerApellido] ASC,
	[SegundoApellido] ASC,
	[PrimerNombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Persona_NumeroDocumento]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Persona_NumeroDocumento] ON [Personas].[Persona]
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Auditoria_Fecha]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Auditoria_Fecha] ON [Seguridad].[Auditoria]
(
	[Fecha] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Auditoria_UsuarioID]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Auditoria_UsuarioID] ON [Seguridad].[Auditoria]
(
	[UsuarioID] ASC
)
INCLUDE([Fecha],[Accion]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rol__4F0B537FD2C9B65E]    Script Date: 5/3/2026 13:00:57 ******/
ALTER TABLE [Seguridad].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Rol_Nombre]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Rol_Nombre] ON [Seguridad].[Rol]
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__6B0F5AE063904B6E]    Script Date: 5/3/2026 13:00:57 ******/
ALTER TABLE [Seguridad].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_NombreUsuario]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_NombreUsuario] ON [Seguridad].[Usuario]
(
	[NombreUsuario] ASC
)
INCLUDE([Estado],[RolID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuario_RolID]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_RolID] ON [Seguridad].[Usuario]
(
	[RolID] ASC
)
INCLUDE([UsuarioID],[NombreUsuario]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Actividad_Estado]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Actividad_Estado] ON [Voluntariado].[Actividad]
(
	[Estado] ASC
)
INCLUDE([ActividadID],[NombreActividad]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Actividad_FechaInicio]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Actividad_FechaInicio] ON [Voluntariado].[Actividad]
(
	[FechaInicio] DESC
)
INCLUDE([NombreActividad],[Estado]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inscripcion_Activas]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Inscripcion_Activas] ON [Voluntariado].[Inscripcion]
(
	[Estado] ASC
)
WHERE ([Estado]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inscripcion_ActividadID]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Inscripcion_ActividadID] ON [Voluntariado].[Inscripcion]
(
	[ActividadID] ASC
)
INCLUDE([VoluntarioID],[Estado]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inscripcion_VoluntarioID]    Script Date: 5/3/2026 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_Inscripcion_VoluntarioID] ON [Voluntariado].[Inscripcion]
(
	[VoluntarioID] ASC
)
INCLUDE([ActividadID],[FechaInscripcion]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Certificados].[Certificado] ADD  DEFAULT (getdate()) FOR [FechaEmision]
GO
ALTER TABLE [Donaciones].[Donacion] ADD  DEFAULT (getdate()) FOR [FechaDonacion]
GO
ALTER TABLE [Donaciones].[Donacion] ADD  DEFAULT ('Confirmada') FOR [Estado]
GO
ALTER TABLE [Personas].[Persona] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [Personas].[Persona] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [Personas].[Voluntario] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [Seguridad].[Auditoria] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [Seguridad].[Rol] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [Seguridad].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [Seguridad].[Usuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [Voluntariado].[Actividad] ADD  DEFAULT ('Programada') FOR [Estado]
GO
ALTER TABLE [Voluntariado].[Inscripcion] ADD  DEFAULT (getdate()) FOR [FechaInscripcion]
GO
ALTER TABLE [Voluntariado].[Inscripcion] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [Certificados].[Certificado]  WITH CHECK ADD  CONSTRAINT [FK_Certificado_Actividad] FOREIGN KEY([ActividadID])
REFERENCES [Voluntariado].[Actividad] ([ActividadID])
GO
ALTER TABLE [Certificados].[Certificado] CHECK CONSTRAINT [FK_Certificado_Actividad]
GO
ALTER TABLE [Certificados].[Certificado]  WITH CHECK ADD  CONSTRAINT [FK_Certificado_Voluntario] FOREIGN KEY([VoluntarioID])
REFERENCES [Personas].[Voluntario] ([VoluntarioID])
GO
ALTER TABLE [Certificados].[Certificado] CHECK CONSTRAINT [FK_Certificado_Voluntario]
GO
ALTER TABLE [Donaciones].[Donacion]  WITH CHECK ADD  CONSTRAINT [FK_Donacion_Persona] FOREIGN KEY([PersonaID])
REFERENCES [Personas].[Persona] ([PersonaID])
GO
ALTER TABLE [Donaciones].[Donacion] CHECK CONSTRAINT [FK_Donacion_Persona]
GO
ALTER TABLE [Personas].[Voluntario]  WITH CHECK ADD  CONSTRAINT [FK_Voluntario_Persona] FOREIGN KEY([PersonaID])
REFERENCES [Personas].[Persona] ([PersonaID])
GO
ALTER TABLE [Personas].[Voluntario] CHECK CONSTRAINT [FK_Voluntario_Persona]
GO
ALTER TABLE [Seguridad].[Auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [Seguridad].[Usuario] ([UsuarioID])
GO
ALTER TABLE [Seguridad].[Auditoria] CHECK CONSTRAINT [FK_Auditoria_Usuario]
GO
ALTER TABLE [Seguridad].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Persona] FOREIGN KEY([PersonaID])
REFERENCES [Personas].[Persona] ([PersonaID])
GO
ALTER TABLE [Seguridad].[Usuario] CHECK CONSTRAINT [FK_Usuario_Persona]
GO
ALTER TABLE [Seguridad].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([RolID])
REFERENCES [Seguridad].[Rol] ([RolID])
GO
ALTER TABLE [Seguridad].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [Voluntariado].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Actividad] FOREIGN KEY([ActividadID])
REFERENCES [Voluntariado].[Actividad] ([ActividadID])
GO
ALTER TABLE [Voluntariado].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Actividad]
GO
ALTER TABLE [Voluntariado].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Voluntario] FOREIGN KEY([VoluntarioID])
REFERENCES [Personas].[Voluntario] ([VoluntarioID])
GO
ALTER TABLE [Voluntariado].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Voluntario]
GO
ALTER TABLE [Certificados].[Certificado]  WITH CHECK ADD  CONSTRAINT [CK_Certificado_Codigo] CHECK  ((len([CodigoCertificado])>=(5) OR [CodigoCertificado] IS NULL))
GO
ALTER TABLE [Certificados].[Certificado] CHECK CONSTRAINT [CK_Certificado_Codigo]
GO
ALTER TABLE [Certificados].[Certificado]  WITH CHECK ADD  CONSTRAINT [CK_Certificado_FechaEmision] CHECK  (([FechaEmision]>='2000-01-01' AND [FechaEmision]<=getdate()))
GO
ALTER TABLE [Certificados].[Certificado] CHECK CONSTRAINT [CK_Certificado_FechaEmision]
GO
ALTER TABLE [Donaciones].[Donacion]  WITH CHECK ADD  CONSTRAINT [CK_Donacion_Estado] CHECK  (([Estado]='Anulada' OR [Estado]='Rechazada' OR [Estado]='Confirmada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [Donaciones].[Donacion] CHECK CONSTRAINT [CK_Donacion_Estado]
GO
ALTER TABLE [Donaciones].[Donacion]  WITH CHECK ADD  CONSTRAINT [CK_Donacion_Fecha] CHECK  (([FechaDonacion]>='2000-01-01' AND [FechaDonacion]<=getdate()))
GO
ALTER TABLE [Donaciones].[Donacion] CHECK CONSTRAINT [CK_Donacion_Fecha]
GO
ALTER TABLE [Donaciones].[Donacion]  WITH CHECK ADD  CONSTRAINT [CK_Donacion_MetodoPago] CHECK  (([MetodoPago]='Daviplata' OR [MetodoPago]='Nequi' OR [MetodoPago]='PSE' OR [MetodoPago]='Tarjeta Crédito' OR [MetodoPago]='Tarjeta Débito' OR [MetodoPago]='Transferencia' OR [MetodoPago]='Efectivo'))
GO
ALTER TABLE [Donaciones].[Donacion] CHECK CONSTRAINT [CK_Donacion_MetodoPago]
GO
ALTER TABLE [Donaciones].[Donacion]  WITH CHECK ADD  CONSTRAINT [CK_Donacion_Monto] CHECK  (([Monto]>(0)))
GO
ALTER TABLE [Donaciones].[Donacion] CHECK CONSTRAINT [CK_Donacion_Monto]
GO
ALTER TABLE [Personas].[Persona]  WITH CHECK ADD  CONSTRAINT [CK_Persona_Email] CHECK  (([Email] like '%_@__%.__%' OR [Email] IS NULL))
GO
ALTER TABLE [Personas].[Persona] CHECK CONSTRAINT [CK_Persona_Email]
GO
ALTER TABLE [Personas].[Persona]  WITH CHECK ADD  CONSTRAINT [CK_Persona_FechaNacimiento] CHECK  (([FechaNacimiento]<=getdate() AND [FechaNacimiento]>='1900-01-01'))
GO
ALTER TABLE [Personas].[Persona] CHECK CONSTRAINT [CK_Persona_FechaNacimiento]
GO
ALTER TABLE [Personas].[Persona]  WITH CHECK ADD  CONSTRAINT [CK_Persona_NumeroDocumento] CHECK  ((len([NumeroDocumento])>=(5) AND NOT [NumeroDocumento] like '%[^0-9]%'))
GO
ALTER TABLE [Personas].[Persona] CHECK CONSTRAINT [CK_Persona_NumeroDocumento]
GO
ALTER TABLE [Personas].[Persona]  WITH CHECK ADD  CONSTRAINT [CK_Persona_PrimerApellido] CHECK  ((len(ltrim(rtrim([PrimerApellido])))>=(2)))
GO
ALTER TABLE [Personas].[Persona] CHECK CONSTRAINT [CK_Persona_PrimerApellido]
GO
ALTER TABLE [Personas].[Persona]  WITH CHECK ADD  CONSTRAINT [CK_Persona_PrimerNombre] CHECK  ((len(ltrim(rtrim([PrimerNombre])))>=(2)))
GO
ALTER TABLE [Personas].[Persona] CHECK CONSTRAINT [CK_Persona_PrimerNombre]
GO
ALTER TABLE [Personas].[Persona]  WITH CHECK ADD  CONSTRAINT [CK_Persona_Telefono] CHECK  ((len([Telefono])>=(7) OR [Telefono] IS NULL))
GO
ALTER TABLE [Personas].[Persona] CHECK CONSTRAINT [CK_Persona_Telefono]
GO
ALTER TABLE [Personas].[Persona]  WITH CHECK ADD  CONSTRAINT [CK_Persona_TipoDocumento] CHECK  (([TipoDocumento]='PA' OR [TipoDocumento]='CE' OR [TipoDocumento]='TI' OR [TipoDocumento]='CC'))
GO
ALTER TABLE [Personas].[Persona] CHECK CONSTRAINT [CK_Persona_TipoDocumento]
GO
ALTER TABLE [Personas].[Voluntario]  WITH CHECK ADD  CONSTRAINT [CK_Voluntario_Estado] CHECK  (([Estado]='Suspendido' OR [Estado]='Inactivo' OR [Estado]='Activo'))
GO
ALTER TABLE [Personas].[Voluntario] CHECK CONSTRAINT [CK_Voluntario_Estado]
GO
ALTER TABLE [Personas].[Voluntario]  WITH CHECK ADD  CONSTRAINT [CK_Voluntario_FechaIngreso] CHECK  (([FechaIngreso]>='2000-01-01' AND [FechaIngreso]<=getdate()))
GO
ALTER TABLE [Personas].[Voluntario] CHECK CONSTRAINT [CK_Voluntario_FechaIngreso]
GO
ALTER TABLE [Seguridad].[Auditoria]  WITH CHECK ADD  CONSTRAINT [CK_Auditoria_Accion] CHECK  (([Accion]='EXPORT' OR [Accion]='LOGOUT' OR [Accion]='LOGIN' OR [Accion]='DELETE' OR [Accion]='UPDATE' OR [Accion]='INSERT'))
GO
ALTER TABLE [Seguridad].[Auditoria] CHECK CONSTRAINT [CK_Auditoria_Accion]
GO
ALTER TABLE [Seguridad].[Rol]  WITH CHECK ADD  CONSTRAINT [CK_Rol_NombreRol] CHECK  ((len(ltrim(rtrim([NombreRol])))>=(3)))
GO
ALTER TABLE [Seguridad].[Rol] CHECK CONSTRAINT [CK_Rol_NombreRol]
GO
ALTER TABLE [Seguridad].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_Contrasena] CHECK  ((len([Contrasena])>=(8)))
GO
ALTER TABLE [Seguridad].[Usuario] CHECK CONSTRAINT [CK_Usuario_Contrasena]
GO
ALTER TABLE [Seguridad].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_FechaCreacion] CHECK  (([FechaCreacion]<=getdate()))
GO
ALTER TABLE [Seguridad].[Usuario] CHECK CONSTRAINT [CK_Usuario_FechaCreacion]
GO
ALTER TABLE [Seguridad].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_NombreUsuario] CHECK  ((len([NombreUsuario])>=(4) AND NOT [NombreUsuario] like '%[^a-zA-Z0-9._]%'))
GO
ALTER TABLE [Seguridad].[Usuario] CHECK CONSTRAINT [CK_Usuario_NombreUsuario]
GO
ALTER TABLE [Seguridad].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_UltimoAcceso] CHECK  (([UltimoAcceso] IS NULL OR [UltimoAcceso]>=[FechaCreacion]))
GO
ALTER TABLE [Seguridad].[Usuario] CHECK CONSTRAINT [CK_Usuario_UltimoAcceso]
GO
ALTER TABLE [Voluntariado].[Actividad]  WITH CHECK ADD  CONSTRAINT [CK_Actividad_Cupo] CHECK  (([CupoMaximo]>(0) AND [CupoMaximo]<=(500)))
GO
ALTER TABLE [Voluntariado].[Actividad] CHECK CONSTRAINT [CK_Actividad_Cupo]
GO
ALTER TABLE [Voluntariado].[Actividad]  WITH CHECK ADD  CONSTRAINT [CK_Actividad_Estado] CHECK  (([Estado]='Cancelada' OR [Estado]='Finalizada' OR [Estado]='En curso' OR [Estado]='Programada'))
GO
ALTER TABLE [Voluntariado].[Actividad] CHECK CONSTRAINT [CK_Actividad_Estado]
GO
ALTER TABLE [Voluntariado].[Actividad]  WITH CHECK ADD  CONSTRAINT [CK_Actividad_FechaFin] CHECK  (([FechaFin] IS NULL OR [FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [Voluntariado].[Actividad] CHECK CONSTRAINT [CK_Actividad_FechaFin]
GO
ALTER TABLE [Voluntariado].[Actividad]  WITH CHECK ADD  CONSTRAINT [CK_Actividad_FechaInicio] CHECK  (([FechaInicio]>='2000-01-01'))
GO
ALTER TABLE [Voluntariado].[Actividad] CHECK CONSTRAINT [CK_Actividad_FechaInicio]
GO
ALTER TABLE [Voluntariado].[Actividad]  WITH CHECK ADD  CONSTRAINT [CK_Actividad_Nombre] CHECK  ((len(ltrim(rtrim([NombreActividad])))>=(5)))
GO
ALTER TABLE [Voluntariado].[Actividad] CHECK CONSTRAINT [CK_Actividad_Nombre]
GO
ALTER TABLE [Voluntariado].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [CK_Inscripcion_Estado] CHECK  (([Estado]=(1) OR [Estado]=(0)))
GO
ALTER TABLE [Voluntariado].[Inscripcion] CHECK CONSTRAINT [CK_Inscripcion_Estado]
GO
ALTER TABLE [Voluntariado].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [CK_Inscripcion_Fecha] CHECK  (([FechaInscripcion]>='2000-01-01' AND [FechaInscripcion]<=getdate()))
GO
ALTER TABLE [Voluntariado].[Inscripcion] CHECK CONSTRAINT [CK_Inscripcion_Fecha]
GO
/****** Object:  StoredProcedure [Certificados].[SP_GenerarCertificado]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   4️⃣ SP – Generar Certificado
============================================================ */
CREATE PROCEDURE [Certificados].[SP_GenerarCertificado]
    @VoluntarioID INT,
    @ActividadID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 
        FROM Certificados.Certificado
        WHERE VoluntarioID = @VoluntarioID
        AND ActividadID = @ActividadID
    )
    BEGIN
        RAISERROR('Ya existe un certificado para esta actividad.',16,1);
        RETURN;
    END

    INSERT INTO Certificados.Certificado
        (VoluntarioID, ActividadID)
    VALUES
        (@VoluntarioID, @ActividadID);

    PRINT 'Certificado generado correctamente.';
END;
GO
/****** Object:  StoredProcedure [Donaciones].[SP_RegistrarDonacion]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   1️⃣ SP – Registrar Donación
============================================================ */
CREATE PROCEDURE [Donaciones].[SP_RegistrarDonacion]
    @PersonaID INT,
    @Monto DECIMAL(12,2),
    @MetodoPago VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Monto <= 0
    BEGIN
        RAISERROR('El monto debe ser mayor que 0.',16,1);
        RETURN;
    END

    INSERT INTO Donaciones.Donacion
        (PersonaID, Monto, MetodoPago)
    VALUES
        (@PersonaID, @Monto, @MetodoPago);

    PRINT 'Donación registrada correctamente.';
END;
GO
/****** Object:  StoredProcedure [Donaciones].[SP_TotalDonadoPorPersona]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   5️⃣ SP – Reporte Total Donado por Persona
============================================================ */
CREATE PROCEDURE [Donaciones].[SP_TotalDonadoPorPersona]
    @PersonaID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.PrimerNombre,
        p.PrimerApellido,
        ISNULL(SUM(d.Monto),0) AS TotalDonado
    FROM Personas.Persona p
    LEFT JOIN Donaciones.Donacion d
        ON p.PersonaID = d.PersonaID
    WHERE p.PersonaID = @PersonaID
    GROUP BY 
        p.PrimerNombre,
        p.PrimerApellido;
END;
GO
/****** Object:  StoredProcedure [Personas].[SP_RegistrarVoluntario]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   2️⃣ SP – Registrar Voluntario
============================================================ */
CREATE PROCEDURE [Personas].[SP_RegistrarVoluntario]
    @PersonaID INT,
    @FechaIngreso DATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Personas.Voluntario WHERE PersonaID = @PersonaID)
    BEGIN
        RAISERROR('La persona ya está registrada como voluntario.',16,1);
        RETURN;
    END

    INSERT INTO Personas.Voluntario
        (PersonaID, FechaIngreso)
    VALUES
        (@PersonaID, @FechaIngreso);

    PRINT 'Voluntario registrado correctamente.';
END;
GO
/****** Object:  StoredProcedure [Seguridad].[sp_LoginUsuario]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Seguridad].[sp_LoginUsuario]

@Usuario NVARCHAR(100),
@Password NVARCHAR(200)

AS
BEGIN

SET NOCOUNT ON;

DECLARE @Hash NVARCHAR(64)

SET @Hash = Seguridad.fn_HashPassword(@Password)

SELECT 
    UsuarioID,
    NombreUsuario,
    RolID,
    Estado
FROM Seguridad.Usuario
WHERE NombreUsuario = @Usuario
AND Contrasena = @Hash
AND Estado = 1

END
GO
/****** Object:  StoredProcedure [Voluntariado].[SP_InscribirVoluntario]    Script Date: 5/3/2026 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   3️⃣ SP – Inscribir Voluntario en Actividad
============================================================ */
CREATE PROCEDURE [Voluntariado].[SP_InscribirVoluntario]
    @VoluntarioID INT,
    @ActividadID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 
        FROM Voluntariado.Inscripcion
        WHERE VoluntarioID = @VoluntarioID
        AND ActividadID = @ActividadID
    )
    BEGIN
        RAISERROR('El voluntario ya está inscrito en esta actividad.',16,1);
        RETURN;
    END

    INSERT INTO Voluntariado.Inscripcion
        (VoluntarioID, ActividadID)
    VALUES
        (@VoluntarioID, @ActividadID);

    PRINT 'Inscripción realizada correctamente.';
END;
GO
USE [master]
GO
